<h1 class="text-3xl font-bold underline text-center my-8">VEME UI KIT</h1>
<app-button label="Primary Button" type="primary"></app-button>
<app-button label="Secondary Button" type="secondary"></app-button>

<app-card 
    title="Customizable Card" 
    description="You can add a custom description here" 
    imageUrl="https://via.placeholder.com/150" 
    buttonText="Click Me" 
    buttonType="primary"
    cardClass="border-2 border-blue-500"
    (buttonClick)="onButtonClick()"
    >

</app-card>

<div class="flex justify-center">
    <app-button label="Open Modal" type="primary" (click)="isModalOpen = true"></app-button>
</div>

<app-modal title="New Custom Modal" [isOpen]="isModalOpen" (closeModal)="isModalOpen = false">
    <p>Modal Content, Anything can go here</p>
</app-modal>


<!-- INPUT COMPONENT -->

<!-- Input Component -->
<div class="max-w-md mx-auto">
  <app-input 
    label="Username" 
    placeholder="Enter your username" 
    (inputChange)="onInputChange($event)"
  ></app-input>
</div>